<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-4 text-left">

                <ul>
                    <li style="margin: 30px"><img src="/images/background/songke.jpg" class="img-circle" style="width:100px"></li>
                    <li style="margin: 30px"><font size="5" color="white">姓名 : 宋柯</font></li>
                    <li style="margin: 30px"><font size="5" color="white">职业  :程序员</font></li>
                    <li style="margin: 30px"><font size="5" color="white">擅长  :JAVA、NodeJs、React、Python</font></li>
                    <li style="margin: 30px"><font size="5" color="white">爱好 : 技术宅,计算机狂热爱好者</font></li>
                    <li style="margin: 30px"><font size="5" color="white">励志成为一位程序员大牛</font></li>
                </ul>


            </div>
            <div class="col-sm-8 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white">开源作品</font></li>
                    <li style="margin: 30px"><font size="5" color="white">Node.js</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.驾校预约练车管理系统的设计与实现</font></li>
                    <li style="margin: 30px"><font size="3" color="white">2.个人博客系统</font></li>
                    <li style="margin: 30px"><font size="3" color="white">3.参与开发EveryBIM协同管理平台</font></li>
                    <li style="margin: 30px"><font size="5" color="white">NodeJs</font></li>
                    <li style="margin: 30px"><font size="3" color="white">node.js做的博客系统:http://git@github.com:kapusou/blog.git</font></li>
                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>
